* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 8px;
}

/* SECTION */
.section {
    padding: 80px 20px;
    text-align: center;
}

.dark {
    background: rgba(255,255,255,0.05);
}

/* CARD */
.card {
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
    background: rgba(255,255,255,0.08);
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* ANIMATION */
.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

.delay { transition-delay: 0.2s; }
.delay2 { transition-delay: 0.4s; }
